.user_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;
}

.up_header{
    background-color: #2375ab;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
   
}